language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "3.7-dev" # 3.7 development branch
  - "nightly"
install:
  - pip install -U pip
  - pip install -r requirements.txt
script:
  - coverage run tests.py
  - coverage report
  # Generate report to mutants
  - if [[ $TRAVIS_PYTHON_VERSION != 2* ]]; then cosmic-ray init cosmic_config.yml test_session && cosmic-ray exec test_session && cosmic-ray dump test_session | cr-report; fi
after_success:
  - coveralls