language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"
install:
  - pip install -U pip
before_script:
  - pip install coverage
  - pip install coveralls
script:
  - coverage run tests.py
  - coverage report
after_success:
  - coveralls